@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&subset=latin-ext');
@import 'props';

html {
    font-family: $railwayFont;
}

.button {
    font-family: $railwayFont;
    border: 0;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: 0 0 3px 1px $blue;
    }

    &--rounded {
        border-radius: 4px;
    }

    &--red {
        background: $red;
        color: white;
    }
}

.input {
    font-family: $railwayFont;
    border: 1px solid $gray;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $blue;
    }
}

.inl-b-centered {
    @include inl-b-centered();
}